nav {
    background-color: rgb(74, 62, 154);
    text-align: center;
    font-weight: bold;
  }
  
  nav a {
    padding: 40px;
    width: 200px;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  nav a.active {
    color: rgb(182, 119, 43);
    text-decoration: none;
  }
  
  nav a:hover {
    color: black;
    text-decoration: none;
  }