.ColorList header{
    text-align: center;
    justify-content: center;
    background-color: rgb(40, 17, 31);
    padding: 15px;
    text-shadow: 0 0 3px #3a0202, 0 0 5px #151541;
}

.ColorList header h1 {
    color: red;
}

.ColorList header a {
    text-align: center;
    color: rgb(103, 99, 177);
    font-weight: bold;
    text-shadow: 1px 1px 2px #a7e6c0;

}
.ColorList p {
    text-align: center;
    color: rgb(35, 29, 145);
    font-weight: bold;
    font-size: 1.5em;
}

.ColorList ul {
    position: relative;
    top: 30px;
    left: 43%;
    color: rgb(57, 55, 99);
    text-shadow: 0 0 3px #ac7070, 0 0 5px #154a2a;
    font-weight: bold;
}